@media screen and (max-width: 522px) {

	.logo { max-width: 250px; }

	h1 {
		max-width: 280px;
		display: block;
		margin: 0 auto;
	}

	.text-field {
			padding: 15px;
			width: 300px;
			display: block;
			margin: 0 auto;
			position: relative;
	}

	.primary-btn {
			width: 110px;
			display: block;
			margin: 10px auto;
			bottom: 63px;
			left: 95px;
			position: relative;
	}

	footer p {
    font-size: 13px;
    font-weight: bold;
}

}

@media screen and (min-width: 520px) {
	h1 {
		max-width: 320px;
		display: block;
		margin: 0 auto;
	}


}
